/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/*=====  End of system-status-table-section  ======*/

.mwb-form-group__breaker{
    font-size: 25px;
}

.mwb_admin_order_msg_history_title .mwb_order_heading .reload-icon {
    width: 30px; 
}

.thumb img {
    width:50px;
}
