/*BACKEND CSS*/
/*common-css*/
.wps_rma_flex {
  display: flex;
  flex-wrap: wrap;
}

/*Edit order page*/
#wps_rma_order_refund #wps_rma_return_meta_wrapper td {
  width: 20%;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}

#wps_rma_return_meta_wrapper > table > thead > tr > th {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

#wps_rma_order_refund #wps_rma_return_meta_wrapper td img {
  width: 80px;
  height: auto;
}

#wps_rma_return_meta_wrapper > table {
  width: 100%;
}

.wps_rma_refund_pd-top {
  padding-top: 10px;
}
#wps_rma_stock_button_wrapper {
  margin-top: 5px;
}
@media only screen and (max-width: 480px) {
  .wc-wp-version-gte-53 .select2-container .select2-search--inline .select2-search__field,
  .woocommerce-feature-enabled-activity-panels .select2-container--default .select2-selection--multiple .select2-selection__rendered,
  .select2-container--default .select2-selection--multiple .select2-selection__rendered li,
  .woocommerce-feature-enabled-activity-panels span.select2-selection.select2-selection--multiple,
  .woocommerce-feature-enabled-activity-panels span.selection,
  .woocommerce-feature-enabled-activity-panels #woocommerce-order-downloads .buttons .add_item_id,
  .woocommerce-feature-enabled-activity-panels #woocommerce-order-downloads .buttons .select2-container,
  .woocommerce-feature-enabled-activity-panels select#grant_access_id {
    width: 100% !important;
    display: inline-block;
  }
  .woocommerce-feature-enabled-activity-panels #woocommerce-order-downloads .buttons .add_item_id,
  .woocommerce-feature-enabled-activity-panels #woocommerce-order-downloads .buttons .select2-container {
    width: 100% !important;
  }
}